.card {
    background-color: #1c1c1c;
    border-radius: 16px;
    padding: 24px;
    width: calc((100% - 96px) / 4);
    height: 202px;
}

.description {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: white;
    margin-top: 34px;
}

@media screen and (max-width: 1005px) {
    .card {
        padding: 16px;
    }

    .description {
        font-size: 20px;
        margin-top: 16px;
    }
}

@media screen and (max-width: 800px) {
    .card {
        padding: 24px;
        width: calc((100% - 32px) / 2);
    }

    .description {
        font-size: 24x;
        margin-top: 16px;
    }
}

@media screen and (max-width: 450px) {
    .icon {
        width: 49px;
        height: 49px;
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-top: 34px;
    }
}